<div class="container">
  <form [formGroup]="usuario">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" placeholder="Nombre"
      formControlName = "nombre" class="form-control"
      [ngClass] = "{'is-invalid': submitted && f.nombre.errors}"
      >
      <div *ngIf="submitted  && f.nombre.errors" class="invalid-feedback">
        <div *ngIf ="f.nombre.errors.required">El nombre es obligatorio</div>

      </div>
    </div>

    <div class="form-group">
      <label>Correo</label>
      <input type="email" placeholder="Correo"
      formControlName = "correo" class="form-control"
      [ngClass] = "{'is-invalid': submitted && f.correo.errors}"
      >
      <div *ngIf="submitted  && f.correo.errors" class="invalid-feedback">
        <div *ngIf ="f.correo.errors.required">El Correo es obligatorio</div>
        <div *ngIf ="f.correo.errors.email">El Correo no es valido</div>

      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="enviarDatos()">Enviar</button>
    </div>
  </form>
</div>
